@keyframes scroll {
    0% {background-position-x: 0px;}
    100% {background-position-x: -1920px;}
}

.layer {
    min-height: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat-x;
  background-size: cover;
}

.layer-10 {      
  background-image: url("10.png");   
  animation: scroll 20s infinite linear;
}

.layer-9 {      
    background-image: url("09.png");   
    animation: scroll 15s infinite linear;
  }

  .layer-8 {      
    background-image: url("08.png");   
    animation: scroll 10s infinite linear;
  }

  .layer-7 {        
    background-image: url("07.png");     
    animation: scroll 8s infinite linear;
  }

  .layer-6 {        
    background-image: url("06.png");     
    animation: scroll 6s infinite linear;
  }

  .layer-5 {        
    background-image: url("05.png");     
    animation: scroll 4s infinite linear;
  }
  

.layer-4 {        
    background-image: url("04.png");     
    animation: scroll 3s infinite linear;
  }

  .layer-3 {        
    background-image: url("03.png");     
    animation: scroll 2s infinite linear;
  }

  .layer-2 {        
    background-image: url("02.png");     
    animation: scroll 1s infinite linear;
  }

  .layer-1 {        
    background-image: url("01.png");     
    animation: scroll 1s infinite linear;
  }